#blog-advertise-section {
    min-height: 100vh;
    background-color: black;

    a {
        color: black;

        &:hover {
            text-decoration: underline;
        }
    }

    .advertise {
        height: 100vh;

        h2 {
            color: white;
            font-size: 2.5em;
            margin: auto;
            margin-top: 2em;
        }

        .embla {
            width: 90%;
            max-width: 100%;
            margin: auto;
            --slide-height: 19rem;
            --slide-spacing: 1rem;
            --slide-size: 100%;
            --slide-spacing-sm: 1.6rem;
            --slide-size-sm: 50%;
            --slide-spacing-lg: 2rem;
            --slide-size-lg: calc(100% / 3);
        }

        .embla__viewport {
            overflow: hidden;
        }

        .embla__container {
            backface-visibility: hidden;
            display: flex;
            gap: 20px;
            touch-action: pan-y pinch-zoom;
            justify-content: center;
            margin-left: calc(var(--slide-spacing) * -1);
        }

        @media (min-width: 750px) {
            .embla__container {
                margin-left: calc(var(--slide-spacing-sm) * -1);
            }
        }

        @media (min-width: 1200px) {
            .embla__container {
                margin-left: calc(var(--slide-spacing-lg) * -1);
            }
        }

        .embla__slide {
            min-width: 0;
            flex: 0 0 var(--slide-size);
            padding-left: var(--slide-spacing);
        }

        @media (min-width: 750px) {
            .embla__slide {
                flex: 0 0 var(--slide-size-sm);
                padding-left: var(--slide-spacing-sm);
            }
        }

        @media (min-width: 1200px) {
            .embla__slide {
                flex: 0 0 var(--slide-size-lg);
                padding-left: var(--slide-spacing-lg);
            }
        }

        .embla__slide__number {
            box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
            border-radius: 1.8rem;
            font-size: 4rem;
            font-weight: 600;
            display: flex;
            align-items: center;
            justify-content: center;
            height: var(--slide-height);
            user-select: none;
        }

        .embla__controls {
            display: grid;
            grid-template-columns: auto 1fr;
            justify-content: space-between;
            gap: 1.2rem;
            margin-top: 1.8rem;
        }

        .embla__buttons {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 0.6rem;
            color: white;
            align-items: center;
        }

        .embla__button {
            -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
            -webkit-appearance: none;
            appearance: none;
            background-color: transparent;
            touch-action: manipulation;
            display: inline-flex;
            text-decoration: none;
            cursor: pointer;
            border: 0;
            padding: 0;
            margin: 0;
            box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
            width: 3.6rem;
            height: 3.6rem;
            z-index: 1;
            border-radius: 50%;
            color: var(--text-body);
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .embla__button:disabled {
            color: var(--detail-high-contrast);
        }

        .embla__button__svg {
            width: 35%;
            height: 35%;
        }
    }

    .blog {
        display: flex;
        flex-direction: column;
        // align-items: center;
        justify-content: end;

        h2 {
            text-align: center;
            color: white;
            font-size: 2em;
        }

        .blog-container {
            width: 350px;
            height: 250px;
            padding: 0 0 1.5em 0;
            background-color: white;
            border-radius: 10px;
            margin-bottom: 3em;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
            }

            .blog-title {
                height: '25%';
                width: '90%';
                margin: 'auto';
                margin-top: '10px';

                a {
                    font-size: 1.2em;
                }
            }

        }

        @media (max-width: 1200px) {
            justify-content: start;

            .blog-container {
                width: 280px;
                height: 190px;
                margin-bottom: 2em;
            }

            h2 {
                text-align: start;
            }

            .ant-divider {
                margin: 0;
            }

            a {
                font-size: 1em;
                margin: 0 !important;
                margin-top: 0 !important;
            }
        }
    }
}