.koi-tag-container{
    position: absolute;
    top: 5px;
    right: 5px;

    .koi-element-icon{
        margin: 0;
        font-size: 2em;
    }

    .koi-type-icon{
        margin: 0;
        margin-right: 5px;
        color: white;
    }
}