.ad-detail-page {
  padding: 2rem;
  background-color: #f9f9f9;

  .ad-detail-container {
    display: flex; // cùng 1 hàng chia nên làm đôi
    text-align: center;
    justify-content: center;
    border-radius: 8px;
    box-shadow: 0 0 2rem black;
    padding: 1rem 0.5rem;

    .ad-detail-image {
      position: relative;
      width: 45%;

      .ad-image {
        width: 100%;
        height: 100%; // Đảm bảo chiều cao của hình ảnh bằng chiều cao của container
        border-radius: 8px;
        object-fit: cover; // Giữ tỷ lệ hình ảnh
      }

      .navigation-buttons {
        display: flex;
        justify-content: center;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        gap: 3rem;
        bottom: -0.5rem;
      }

      .navigation-button {
        background-color: rgba(255, 255, 255, 0.8);
        border: none;
        font-size: 2rem;
        border-radius: 50%;
        cursor: pointer;
      }
    }

    .ad-detail-info {
      padding: 2rem;
      width: 55%;
      margin-top: 2rem;
      color: black;
      text-align: center;
      justify-content: center;
    }
  }

  // Bài đăng liên quan
  .moreAds-list {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem 2rem;
    gap: 1.5rem;

    .moreAdvertisement {
      position: relative;
      width: calc(100% / 5 - 1.5rem);
      height: 50vh;
      background-color: white;
      padding: 10px;
      box-shadow: 0px 0px 1rem rgb(96, 96, 96);
      border-radius: 8px;
      text-align: center;
      transition: transform 0.4s ease;
      display: flex;
      flex-direction: column;
      overflow: hidden;

      &:hover {
        transform: translateY(-1rem);
      }

      h1,
      h3 {
        margin: 0;
      }

      h1 {
        margin-bottom: 10px;
      }

      img {
        margin-top: 1rem;
        width: 100%;
        height: 200px;
        object-fit: cover;
      }

      .price-container {
        position: absolute;
        bottom: 10px;
        left: 10px;
        right: 10px;
        margin-top: auto;
        text-align: center;

        h2 {
          font-size: 1rem;
          color: green;
          margin: 0;
        }
      }
    }
  }
}
