@import url("https://fonts.googleapis.com/css2?family=Arima:wght@100..700&family=Glegoo:wght@400;700&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap");
#sec1-ad {
  background-image: url("../assets/images/—Pngtree—image\ of\ mount\ fuji\ by_3629200.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  // background-position: center;
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-attachment: fixed;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30vh;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    z-index: 1;
    pointer-events: none; /* ko cho phép lớp phủ chặn click */
  }
  .custom-title {
    z-index: 2;
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 3px 5px 2px black;
    font-family: "Playwrite GB S", serif;
    font-size: 3rem;

    h2 {
      margin-top: 4rem;
      color: rgb(0, 0, 0);
      text-shadow: 1px 1px 1rem rgb(255, 255, 255);
    }
  }
}

.custom-button-black-white {
  background-color: rgb(0, 0, 0);
  border-color: rgb(0, 0, 0);
  color: white;
  margin-left: 1rem;
  transition: transform 0.5s ease;

  &:hover {
    transform: translateY(-0.3rem);
  }

  &:hover {
    background-color: white !important; /* Màu nền khi hover */
    border-color: rgb(0, 0, 0) !important; /* Màu viền khi hover */
    color: rgb(0, 0, 0) !important;
    cursor: pointer;
  }
}

// tat ca modal label deu in dam
.ant-form-item-label > label {
  font-weight: bold;
}

// xuong dong cho AdDetail va Embla
.ad-description {
  white-space: pre-wrap;
  font-size: 1rem !important;
}

// phan filter theo element
.filter-element {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;

  .nam-cuc {
    display: flex;
    gap: 1rem;

    .button-filter-element {
      .custom-button-kim {
        background-color: white;
        border-color: grey;
        color: grey;
        font-size: 1rem;
        padding: 2rem 1rem;
        border-radius: 8px;
        font-weight: bold;
        transition: transform 0.5s ease;

        &:hover {
          transform: scale(1.1);
        }
        &:hover {
          background-color: grey !important; /* Màu nền khi hover */
          border-color: white !important; /* Màu viền khi hover */
          color: white !important;
        }

        svg {
          font-size: 2rem;
        }
      }
      .custom-button-moc {
        background-color: white;
        border-color: green;
        color: green;
        font-size: 1rem;
        padding: 2rem 1rem;
        border-radius: 8px;
        font-weight: bold;
        transition: transform 0.5s ease;

        &:hover {
          transform: scale(1.1);
        }
        &:hover {
          background-color: green !important; /* Màu nền khi hover */
          border-color: white !important; /* Màu viền khi hover */
          color: white !important;
        }

        svg {
          font-size: 2rem;
        }
      }
      .custom-button-thuy {
        background-color: white;
        border-color: rgb(68, 124, 255);
        color: rgb(68, 124, 255);
        font-size: 1rem;
        padding: 2rem 1rem;
        border-radius: 8px;
        font-weight: bold;
        transition: transform 0.5s ease;

        &:hover {
          transform: scale(1.1);
        }
        &:hover {
          background-color: rgb(
            68,
            124,
            255
          ) !important; /* Màu nền khi hover */
          border-color: white !important; /* Màu viền khi hover */
          color: white !important;
        }

        svg {
          font-size: 2rem;
        }
      }
      .custom-button-hoa {
        background-color: white;
        border-color: red;
        color: red;
        font-size: 1rem;
        padding: 2rem 1rem;
        border-radius: 8px;
        font-weight: bold;
        transition: transform 0.5s ease;

        &:hover {
          transform: scale(1.1);
        }
        &:hover {
          background-color: red !important; /* Màu nền khi hover */
          border-color: white !important; /* Màu viền khi hover */
          color: white !important;
        }

        svg {
          font-size: 2rem;
        }
      }
      .custom-button-tho {
        background-color: white;
        border-color: rgb(74, 25, 25);
        color: rgb(74, 25, 25);
        font-size: 1rem;
        padding: 2rem 1rem;
        border-radius: 8px;
        font-weight: bold;
        transition: transform 0.5s ease;

        &:hover {
          transform: scale(1.1);
        }
        &:hover {
          background-color: rgb(74, 25, 25) !important; /* Màu nền khi hover */
          border-color: white !important; /* Màu viền khi hover */
          color: white !important;
        }

        svg {
          font-size: 2rem;
        }
      }
    }
  }
}

// thanh search và 2 select
.search-sort {
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  gap: 2rem;

  .search-bar {
    height: 2rem;
  }
}

.createAd {
  display: flex;
  justify-content: end;
  transition: transform 0.4s ease;

  &:hover {
    transform: translateY(-0.3rem);
  }
  .custom-post-button {
    font-size: 1rem;
    font-weight: bolder;
    background-color: white;
    border: 3px solid rgb(175, 175, 0);
    color: rgb(175, 175, 0);
    transition: transform 0.5s ease;

    &:hover {
      transform: translateY(-0.3rem);
    }

    &:hover {
      background-color: rgb(175, 175, 0) !important;
      border-color: rgb(175, 175, 0) !important;
      color: white !important;
      cursor: pointer;
    }
  }
}

.ads-list {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem 2rem;
  gap: 2rem;

  .advertisement {
    width: calc(100% / 4 - 2rem);
    height: 50vh;
    background-color: white;
    padding: 10px;
    box-shadow: 0px 0px 1rem rgb(96, 96, 96);
    border-radius: 8px;
    text-align: center;
    font-size: 1rem;
    transition: transform 0.4s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;

    &:hover {
      transform: translateY(-1rem);
    }

    .ad-description {
      white-space: pre-wrap;
    }

    h2,
      h1,
      // h3,
      p {
      margin: 0;
      font-size: calc(0.5rem + 0.5vw); /*  chỉnh kích thước chữ theo viewport */
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    // .glegoo-regular {
    //   font-family: "Glegoo", serif;
    //   font-weight: 400;
    //   font-style: normal;
    // }

    // .glegoo-bold {
    //   font-family: "Glegoo", serif;
    //   font-weight: 700;
    //   font-style: normal;
    // }

    img {
      width: 100%;
      height: 50%;
      object-fit: cover;
      border-radius: 8px;
      margin-bottom: 0.5rem;
    }

    .ad-details {
      overflow-y: auto;
      padding: 0.5rem;
      font-size: calc(0.9rem + 0.3vw);
    }
  }
}
