// @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  overflow-x: hidden; // fix width full
  width: 100%;
  scroll-behavior: smooth;
}

.layout-comp {
  position: relative;
  background-image: url("../assets/images/beautiful-exotic-colorful-fish.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    z-index: 1;
    pointer-events: none; /* ko cho phép lớp phủ chặn click */
  }
}

.header-comp {
  position: relative;
  z-index: 2;

  .title {
    margin-top: 2rem;
    margin-left: 4vw;
    font-size: 7em;
    font-weight: 800;
    color: white;
    text-shadow: 3px 3px 5px rgb(0, 255, 21);
    // font-family: "Playwrite GB S", serif;
    font-style: oblique;
    z-index: 2; /* Nội dung trên lớp phủ */

    h2 {
      color: rgb(255, 255, 255);
      text-shadow: 3px 3px 5px rgb(181, 101, 47);
    }
  }

  .infor-data {
    width: 100%;
    margin-top: 20px;
    z-index: 1;
    position: relative; /* Để hiệu ứng mờ hoạt động đúng */

    h1 {
      color: white;
      font-family: "Playwrite GB S", serif;
      font-size: 2em;
      text-shadow: 5px 5px 1px rgba(0, 0, 0, 0.7);
      text-align: center; /* Căn giữa tiêu đề */
    }

    .data {
      display: flex;
      justify-content: space-around;
      width: 100%;
      font-family: "Playwrite GB S", serif;

      div {
        width: 30%; /* Điều chỉnh chiều rộng của từng div */
        font-size: 2em;
        background-color: rgba(255, 255, 255, 0.1); /* Màu nền trong suốt */
        backdrop-filter: blur(10px); /* Mờ nền */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
        border-radius: 15px;
        border-style: groove;
        transition: transform 0.5s ease;

        &:hover {
          transform: translateY(-1rem);
        }

        p {
          color: white;
          text-align: center;

          width: 90%;
          font-size: 2rem;
          font-weight: 600;
        }
      }
    }

    .scroll-button {
      background-color: rgba(255, 255, 255, 0.1); /*  nền trong suốt */
      backdrop-filter: blur(10px);
      border: solid 3px rgb(255, 255, 255); /*  viền trong suốt */
      border-radius: 50%;
      width: 9rem;
      height: 5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: background-color 0.3s, transform 0.3s;

      &:hover {
        background-color: rgba(255, 255, 255, 0.3);
        transform: scale(1.1);
      }

      svg {
        width: 2rem;
        height: 3rem;
        fill: rgb(255, 255, 255);
      }
    }
  }
}

#sec2-comp {
  position: relative;
  // height: 150vh;
  width: 100vw;
  // background-image: url("../assets/images/banner.png");
  background-color: grey;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll; // Cuộn theo trang

  h2 {
    // css ca titlte table
    color: white;
    font-size: 3rem;
    text-align: center;
  }

  .custom-title {
    text-shadow: 5px 5px 1em rgb(0, 0, 0);
  }

  .custom-table {
    .ant-table {
      border: 3px solid #ffffff;
      width: 50rem;

      th {
        background-color: rgb(0, 0, 0);
        color: white;
        text-align: center;
        font-size: 1.3em;
      }

      tr {
        text-align: center;

        // áp dụng cho hàng đã chọn
        &.selected-row {
          background-color: rgb(155, 155, 155) !important;
          transition: background-color 1.5s ease;

          &:hover {
            background-color: rgb(155, 155, 155) !important;
          }
        }
      }
    }
  }

  .selected-ele {
    display: flex;
    margin-top: 5vh;
    align-items: center;
    flex-direction: column;
  }
}
