body {
  overflow-x: hidden; // fix width full
  width: 100%;
  scroll-behavior: smooth;
}

#sec1-comp {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-image: url("../assets/images/leo-bayard-eLBa_U2lRD8-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(100deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
    z-index: 1;
    pointer-events: none;
  }
  .title {
    position: relative;
    z-index: 2; /* Nội dung trên lớp phủ */
    margin-top: 2rem;
    margin-left: 4vw;
    font-size: 7em;
    font-weight: 800;
    color: white;
    text-shadow: 3px 3px 5px rgb(0, 255, 21);
    font-family: "Playball";
    font-optical-sizing: auto;
    font-style: oblique;
    z-index: 2;

    h2 {
      color: rgb(255, 255, 255);
      text-shadow: 3px 3px 5px rgb(181, 101, 47);
    }
  }

  .infor-data {
    width: 100%;
    height: 30vh;
    position: absolute;
    bottom: 25%;
    z-index: 2;

    h1 {
      color: white;
      font-size: 2em;
      text-shadow: 5px 5px 1px rgba(0, 0, 0, 0.7);
    }

    .data {
      height: 25vh;
      width: 100%;
      font-family: serif;

      div {
        width: 50%;
        height: 100%;
        margin: auto;
        font-size: 2em;
        background-color: rgba(255, 255, 255, 0.1);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
        border-radius: 15px;
        border-style: groove;
        transition: transform 0.5s ease;

        &:hover {
          transform: translateY(-1rem);
        }
        p {
          color: white;
          text-align: center;
          width: 90%;
          font-size: 4rem;
          font-weight: 600;
        }
      }
    }

    .scroll-button {
      position: absolute;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);
      background-color: rgb(133, 122, 122);
      border: solid 3px;
      border-radius: 50%;
      width: 9rem;
      height: 5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: background-color 0.3s, transform 0.3s;

      &:hover {
        background-color: rgb(255, 255, 255);
        transform: translateX(-50%) scale(1.1);
      }

      svg {
        width: 2rem;
        height: 3rem;
        fill: rgb(0, 0, 0);
      }
    }
  }
}

// #sec2-comp {
//   position: relative;
//   // padding: 20px;
//   // margin: 20px 0;
//   height: 100vh;
//   width: 100vw;
//   // background-image: url("../assets/images/pexels-amar-27155968.jpg");
//   background-color: black;
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
//   background-attachment: scroll; // Cuộn theo trang

//   h2 {
//     // css ca titlte table
//     color: white;
//     font-size: 3rem;
//     text-align: center;
//   }

//   .custom-title {
//     text-shadow: 5px 5px 1px red;
//   }

//   .custom-table {
//     .ant-table {
//       border: 5px solid #be0000;

//       th {
//         background-color: rgb(69, 69, 23) !important;
//         color: white;
//         text-align: center;
//         font-size: 1.3em;
//       }

//       // Áp dụng cho hàng
//       tr {
//         // Hiệu ứng hover cho hàng chưa chọn
//         &:hover {
//           animation: highlight 0.3s ease-in-out !important;
//           //   background-color: burlywood; // Màu nền khi hover
//         }

//         // Áp dụng cho hàng đã chọn
//         &.selected-row {
//           background-color: burlywood; // Màu nền cho hàng đã chọn
//           animation: none !important; // Tắt animation cho hàng đã chọn
//           transition: background-color 0.3s !important; // Thêm transition cho mượt mà

//           // Tăng độ đậm khi hover qua hàng đã chọn
//           //   &:hover {
//           //     background-color: rgba(135, 206, 235, 1); // Đậm hơn khi hover
//           //   }
//         }
//       }
//     }
//   }

//   .selected-ele {
//     display: flex;
//     margin-top: 5vh;
//     align-items: center;
//     flex-direction: column;

//     .tank-koi-selected {
//     }
//   }
// }

#sec2-comp {
  position: relative;
  height: 150vh;
  width: 100vw;
  // background-image: url("../assets/images/banner.png");
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll; // Cuộn theo trang

  h2 {
    // css ca titlte table
    color: white;
    font-size: 3rem;
    text-align: center;
  }

  .custom-title {
    text-shadow: 5px 5px 1px red;
  }

  .custom-table {
    .ant-table {
      border: 3px solid #ffffff;
      width: 50rem;

      th {
        background-color: rgb(69, 69, 23) !important;
        color: white;
        text-align: center;
        font-size: 1.3em;
      }

      // Áp dụng cho hàng
      tr {
        // Hiệu ứng
        text-align: center;
        //hover cho hàng chưa chọn
        &:hover {
          animation: highlight 0.3s ease-in-out !important;
          //   background-color: burlywood; // Màu nền khi hover
        }

        // Áp dụng cho hàng đã chọn
        &.selected-row {
          background-color: burlywood; // Màu nền cho hàng đã chọn
          animation: none !important; // Tắt animation cho hàng đã chọn
          transition: background-color 0.3s !important; // Thêm transition cho mượt mà

          // Tăng độ đậm khi hover qua hàng đã chọn
          //   &:hover {
          //     background-color: rgba(135, 206, 235, 1); // Đậm hơn khi hover
          //   }
        }
      }
    }
  }

  .selected-ele {
    display: flex;
    margin-top: 5vh;
    align-items: center;
    flex-direction: column;

    .tank-koi-selected {
    }
  }
}
