
@media only screen and (min-width: 600px) {
    .upload-image-section {
        width: 100%;
    }
    .modal-comp{
        width: 100%;
    }
}

.ant-upload-list-item.ant-upload-list-item-error {
    border-color: #4089ff !important;
}

.ant-upload-list-item-name{
    color: #353535 !important;
}