.site-description-item-profile-wrapper {
  margin-bottom: 7px;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  line-height: 1.5715;
}

.ant-drawer-body p.site-description-item-profile-p {
  display: block;
  margin-bottom: 16px;
  color: rgba(0, 0, 0, 0.85);
  font-size: 16px;
  line-height: 1.5715;
}

.site-description-item-profile-p-label {
  display: inline-block;
  margin-inline-end: 8px;
  color: rgba(0, 0, 0, 0.85);
}

.ant-drawer-mask {
  opacity: 0;
  background-color: transparent !important;
}

.drawer-header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;

  p {
    font-size: 2em !important;
  }

  .header-action{
    display: flex;
    align-items: center;
    gap: 1em;

    .edit-btn{
      color: #444343;
      font-size: 2.3em;
      font-weight: bold;
      cursor: pointer;
    }

    .edit-container{
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: normal;
      font-size: 1.1em;
      gap: 1.1em;

      .edit-save{
        color: #1677ff;
        border: 1px solid #1677ff;
        cursor: pointer;
        padding: 0.3em 0.8em;
        border-radius: 0.3em;
        transition: all 0.2s ease;

        &:hover {
          background-color: #1677ff;
          color: white;
        }
      }

      .edit-cancel{
        color: white;
        background-color: #d33726;
        cursor: pointer;
        padding: 0.37em 0.5em;
        border-radius: 0.3em;
        transition: all 0.2s ease;
  
        &:hover {
          background-color: #b93223;
        }
      }
    }

    .delete-btn {
      color: red;
      font-size: 2.3em;
      font-weight: bold;
      cursor: pointer;
    }
  
    .confirm-delete {
      font-weight: normal;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.1em;
      gap: 1.1em;
  
      .confirm-yes{
        color: #49ca3e;
        cursor: pointer;
        padding: 0.3em;
        border-radius: 0.3em;
        transition: all 0.2s ease;
  
        &:hover{
          background-color: #e7e4e4;
        }
      }
  
      .confirm-cancel{
        color: #d33726;
        border: 1px solid #d33726;
        padding: 0.3em;
        cursor: pointer;
        border-radius: 0.3em;
        transition: all 0.2s ease;
  
        &:hover {
          background-color: #d33726;
          color: white;
        }
      }
    }
  }
}