#sec1-my-ads {
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 5px solid red;

  .custom-title {
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 0px 0px 2px red;
  }

  h2 {
    font-size: 20px;
    color: #666;
  }
}

.title-my-ads {
  margin-left: 0.5rem;
  font-size: 2rem;
  font-weight: bold;
}
#sec2-ad {
  .my-ads-filters {
    margin-top: 2rem;
    background-color: none;
    width: 20vw;
    height: 20vw;

    .search-bar {
      text-align: left;
      margin-left: 0.2rem;
      .custom-search-button {
        background-color: rgb(0, 0, 0);
        border-color: rgb(0, 0, 0);
        color: white;
        margin-left: 1rem;
        transition: transform 0.5s ease;

        &:hover {
          transform: translateY(-0.3rem);
        }

        &:hover {
          background-color: white !important; /* Màu nền khi hover */
          border-color: rgb(0, 0, 0) !important; /* Màu viền khi hover */
          color: rgb(0, 0, 0) !important;
          cursor: pointer;
        }
      }
    }
    .custom-search-button {
      background-color: rgb(0, 0, 0);
      border-color: rgb(0, 0, 0);
      color: white;
      margin-left: 1rem;
      transition: transform 0.5s ease;

      &:hover {
        transform: translateY(-0.3rem);
      }

      &:hover {
        background-color: white !important; /* Màu nền khi hover */
        border-color: rgb(0, 0, 0) !important; /* Màu viền khi hover */
        color: rgb(0, 0, 0) !important;
        cursor: pointer;
      }
    }

    .filters {
      margin-left: 1vw;
      justify-content: center;
      text-align: center;
      border: none;
      background-color: none !important;

      .button-filter {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
      }
      .button-filter-container {
        display: flex;
        align-items: center;
      }

      .icon {
        font-size: 1.2rem;
        color: #000;
      }
    }
  }
  .ads-list {
    .ad-item {
      border: 1px solid #ccc;
      border-radius: 8px;
      padding: 10px;
      margin: 10px 0;
      width: 80%;
      transition: background-color 0.3s;

      &:hover {
        background-color: #f0f0f0;
      }

      .ad-title {
        font-size: 18px;
        color: #333;
      }

      .ad-description {
        font-size: 14px;
        color: #666;
      }
    }
  }

  .pagination {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }
}
