.light-mode {
    --background-inner-color: #ffffff;
    --background-outer-color: #f7f7f7;
    --text-color: #000000;
    --link-color: #1a73e8;
    --border-color: #b8b8b8;
    --avatar-color: #505050;
}

.dark-mode {
    --background-inner-color: #131518;
    --background-outer-color: #1f1f1f;
    --text-color: #fff;
    --link-color: #1a73e8;
    --border-color: #6b6b6b;
    --avatar-color: #bfbfbf;
}

#blog-section {
    width: 100%;
    height: 100vh;
    display: block;
    box-sizing: border-box;


    .banner {
        height: 250px;
        background-image: url("../assets/images/banner1.png");
        background-size: contain;
        background-position: center;
        width: 100%;
    }

    .blogs-row {
        display: flex;
        justify-content: center;
        background-color: #1f1f1f;
        min-height: 100%;
        box-sizing: border-box;

        .blogs-col {
            width: 100%;
            min-height: 100%;
            background-color: #131518;
            display: flex;
            flex-direction: column;
            box-sizing: border-box;

            .blogs-col-row {
                width: 100%;

                a {
                    font-size: 1.2em;
                }

                &:first-child {
                    height: 70%;
                    display: flex;
                    justify-content: space-between;

                    .blogs-col-row-col {
                        &:first-child {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-right: 0.5px solid gray;
                            box-sizing: border-box;

                            .blog-item {
                                width: 80%;
                                height: 80%;
                                box-sizing: border-box;
                                background-color: #353535;
                                position: relative;
                                max-height: 600px;

                                .blog-action {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    background-color: #353535;
                                    border: solid 1px #1f1f1f;
                                    padding: 10px;
                                    border-radius: 50%;
                                    position: absolute;
                                    top: 10px;
                                    left: 10px;
                                    color: white;
                                    z-index: 2;
                                }

                                .blog-tag {
                                    position: absolute;
                                    top: 0;
                                    right: 0;
                                    background-color: #f5222d;
                                    padding: 5px 20px;
                                    border-bottom-left-radius: 20px;
                                    color: white;
                                }

                                img {
                                    object-fit: cover;
                                    width: 100%;
                                    height: 80%;
                                }

                                p {
                                    color: rgb(168, 168, 168);
                                    position: absolute;
                                    bottom: 0;
                                    right: 15px;
                                }
                            }

                            @media (max-width: 1200px) {
                                border-bottom: 0.5px solid gray;
                                border-right: none;
                                height: 35%;

                                .blog-item {
                                    width: 90%;
                                    display: flex;

                                    img {
                                        width: 65%;
                                        height: 100%;
                                    }
                                }
                            }
                        }

                        &:last-child {
                            display: flex;
                            flex-direction: column;
                            width: 100%;
                            height: 100%;
                            align-items: center;
                            box-sizing: border-box;

                            .blogs-col-row-col-row {
                                height: 25%;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                width: 100%;

                                .blog-item {
                                    display: flex;
                                    height: 85%;
                                    width: 90%;
                                    box-sizing: border-box;
                                    overflow: hidden;
                                    position: relative;

                                    @media (max-width: 1300px) {
                                        display: flex;
                                        flex-direction: column;
                                        width: 90%;
                                        margin: auto;

                                        a {
                                            margin-left: 0;
                                        }
                                    }

                                    .blog-action {
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        background-color: #353535;
                                        border: solid 1px #1f1f1f;
                                        padding: 8px;
                                        border-radius: 50%;
                                        position: absolute;
                                        top: 5px;
                                        left: 5px;
                                        color: white;
                                        z-index: 2;
                                    }

                                    img {
                                        object-fit: cover;
                                        width: 70%;
                                        height: 100%;
                                        min-width: 220px;
                                        max-width: 220px;

                                        @media (max-width: 1400px) {
                                            width: 100%;
                                            height: 70%;
                                            min-width: none;
                                            max-width: none;
                                        }

                                    }

                                    div {
                                        display: flex;
                                        width: 100%;
                                        height: 100%;
                                        flex-direction: column;
                                        box-sizing: border-box;
                                        // padding: 5px 5px;
                                        position: relative;


                                        a {
                                            display: -webkit-box;
                                            -webkit-line-clamp: 2; // Giới hạn tối đa 2 dòng
                                            -webkit-box-orient: vertical;
                                            overflow: hidden;
                                            text-overflow: ellipsis;
                                            white-space: normal; // Cho phép văn bản ngắt dòng để phù hợp với thiết kế
                                            width: 100%;
                                        }

                                        .blog-info {
                                            margin-top: auto;
                                            display: flex;
                                            flex-direction: row;
                                            align-items: center;
                                            justify-content: space-around;
                                            max-height: 30px;

                                            p {
                                                color: rgb(168, 168, 168);
                                                background-color: var(--background-inner-color);
                                            }
                                        }
                                    }

                                }
                            }

                            @media (max-width: 1200px) {
                                flex-direction: row;
                                flex-wrap: wrap;
                                height: 60%;
                                justify-content: space-around;
                                box-sizing: border-box;

                                .blogs-col-row-col-row {
                                    width: 45%;
                                    height: 50%;

                                    &:nth-child(1) {
                                        margin-bottom: 10px;
                                    }

                                    &:nth-child(2) {
                                        margin-bottom: 10px;
                                    }

                                    .blog-item {
                                        width: 100%;
                                        height: 100%;
                                        background-color: #1f1f1f;

                                        img {
                                            height: 80%;
                                            width: 100%;
                                        }
                                    }
                                }

                            }

                            @media (max-width: 1400px) {
                                .blogs-col-row-col-row {
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;

                                    .blog-item {
                                        display: flex;
                                        flex-direction: column;

                                        img {
                                            width: 100%;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                &:last-child {
                    display: flex;
                    justify-content: center;
                    border-top: 1px solid #808080;
                    // background-color: var(--background-inner-color);
                    min-height: fit-content;

                    .blogs-col-row-container {
                        padding: 20px 10px;
                        display: flex;
                        gap: 20px;
                        flex-wrap: wrap;
                        height: 100%;
                        width: 100%;                       

                        .blog-item {
                            position: relative;
                            display: flex;
                            max-height: 160px;
                            flex: 1 1 30%;

                            .blog-action {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                background-color: #353535;
                                border: solid 1px #1f1f1f;
                                padding: 8px;
                                border-radius: 50%;
                                position: absolute;
                                top: 5px;
                                left: 5px;
                                color: white;
                                z-index: 2;
                            }

                            a {
                                display: -webkit-box;
                                -webkit-box-orient: vertical;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                -webkit-line-clamp: 3;
                                max-height: 4em;
                                line-height: 1.3em;
                                word-break: break-word; 
                            }


                            img {
                                width: 55%;
                                max-width: 350px;
                                object-fit: cover;
                            }

                            .blog-info {
                                display: flex;
                                flex-direction: column;
                                justify-content: space-between;
                                width: 100%;

                                p {
                                    display: flex;
                                    align-items: center;
                                    justify-content: end;
                                    color: rgb(168, 168, 168);
                                }
                            }

                            &:nth-child(3n + 1):last-child {
                                border-top: 1px solid #808080;
                                min-height: 350px;
                                width: 100%;

                                img {
                                    width: 60%;
                                    max-width: 750px;
                                }

                                .blog-info {
                                    font-size: 1.4em;
                                }
                            }
                        }
                    }



                }
            }
        }

        .blog-content-col {
            color: var(--text-color);
            background-color: var(--background-outer-color);
            box-sizing: border-box;
            display: flex;
            justify-content: end;
            width: 100%;
            transition: all 0.3s ease;

            .action-container {
                display: flex;
                justify-content: end;
                position: relative;

                .action-buttons {
                    display: flex;
                    flex-direction: column;
                    position: fixed;
                    margin-top: 5px;
                    gap: 8px;
                    margin-right: 10px;

                    button {
                        border: 0.5px solid #ccc;
                        font-size: 1.2em;
                        color: var(--text-color);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        background-color: var(--background-outer-color);
                        cursor: pointer;
                        box-shadow: none;
                        transition: all 0.3s ease;

                        &:hover {
                            background-color: var(--border-color);
                            box-shadow: 0 0 5px lightgray;
                        }
                    }
                }
            }

            .blog-content-container {
                background-color: var(--background-inner-color);
                min-height: 100%;
                width: 100%;

                .content-body,
                h1 {
                    padding: 0 30px;
                }

                h1 {
                    font-size: 2.5em;
                }

                img {
                    max-width: 100%;
                }

                .content-body {

                    // height: 100%;
                    font-size: 1.15em;

                    em {
                        background-color: var(--border-color) !important;
                    }

                }

                .content-header {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    h1 {
                        font-family: 'Times New Roman', Times, serif;
                    }

                    p {
                        padding: 0 30px;
                        font-style: italic;
                        font-size: 1.2em;
                        color: var(--avatar-color);
                    }
                }

                .content-footer {
                    display: flex;
                    justify-content: end;
                    align-items: center;
                    width: 100%;
                    padding-right: 30px;
                    box-sizing: border-box;
                    font-size: 1.3em;
                }

                #comment-section {
                    min-height: 70vh;
                    min-width: 100%;
                    border-top: 1px solid var(--border-color);

                    h3 {
                        color: var(--text-color);
                    }

                    .comment-container {
                        padding: 0 25px;
                        border-right: 1px solid var(--border-color);

                        .ant-form-item .ant-form-item-label>label::after {
                            content: "";
                        }

                        .ant-list.ant-list-split.comment-list {
                            .ant-list-header {
                                color: var(--text-color);
                            }

                            .ant-comment-inner {
                                color: var(--text-color);
                                background-color: var(--background-inner-color);

                                span {
                                    color: var(--avatar-color);
                                }
                            }

                            .ant-avatar {
                                background-color: var(--border-color);
                            }

                            span.comment-more-action{
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                padding: 5px;
                                border-radius: 50%;
                                cursor: pointer;
                                background-color: var(--border-color);
                            }
                        }
                    }

                    .advertise-container {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        box-sizing: border-box;
                        padding: 15px 0;
                        gap: 15px;

                        .ant-card {
                            width: 100%;
                            height: 100%;
                            max-width: 450px;
                            min-width: none;
                            display: flex;
                            margin: auto;

                            .ant-card-cover {
                                width: 50%;
                                height: 100%;

                                img {
                                    border-radius: 8px 0 0 8px;
                                    height: 100%;
                                    width: 100%;
                                    object-fit: cover;
                                }
                            }

                            .ant-card-body {
                                width: 50%;
                                height: 100%;

                                p {
                                    width: 100%;
                                    overflow: hidden;
                                    display: -webkit-box;
                                    -webkit-line-clamp: 3;
                                    -webkit-box-orient: vertical;
                                    text-overflow: ellipsis;
                                }

                                .advertise-createdDate {
                                    position: absolute;
                                    bottom: 5px;
                                    right: 10px;
                                    margin-top: auto;
                                    font-style: italic;
                                }
                            }

                            @media (max-width: 1200px) {
                                display: flex;
                                flex-direction: column;
                            }
                        }
                    }
                }
            }

            .more-blogs-container {
                width: 100%;
                height: 100%;
                position: relative;

                .blogs-container {
                    min-height: 400px;
                    background-color: var(--background-inner-color);
                    border: 0.5px solid var(--border-color);
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    gap: 20px;
                    position: sticky;
                    top: 0;

                    h2 {
                        margin: 0;
                        text-decoration: underline;
                        margin-left: 5px;
                        color: #6d6d6d;
                        font-weight: 400;
                    }

                    div {
                        width: 100%;
                        display: flex;
                        box-sizing: border-box;
                        padding: 5px;
                        box-shadow: none;
                        transition: all 0.4s ease;
                        transform: scale(none);

                        img {
                            object-fit: fill;
                            width: 60%;
                            transition: all 0.4s ease;
                        }

                        .title-date {
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;

                            a {
                                display: -webkit-box;
                                -webkit-box-orient: vertical;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                -webkit-line-clamp: 3;
                                max-height: 4em;
                                line-height: 1.3em;
                                word-break: break-word;
                            }

                            p {
                                margin: 0;
                            }
                        }


                        &:hover {
                            transform: scale(1.01);
                        }
                    }
                }
            }

        }

        .create-post-btn {
            position: fixed;
            z-index: 5;
            background-color: #ccc;
            border-radius: 20px;
            padding: 10px;
            font-size: 1.5em;
            bottom: 2em;
            right: 2em;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            color: rgb(88, 88, 88);
            width: fit-content;
            transition: all 0.5s ease;

            .create-post-btn-text {
                display: none;
                transition: all 0.5s ease;
            }

            &:hover {
                width: fit-content;

                .create-post-btn-text {
                    display: inline-block;
                }
            }
        }
    }

    
}

.share-modal {
    svg.copy-button {
        cursor: pointer;
        padding: 8px;
        border-radius: 35%;
        background-color: var(--border-color);
        transition: all 0.2s ease;

        &:hover {
            background-color: lightgray;
        }
    }
}



.ant-popover .ant-popover-inner {
    width: 100px;

    .ant-popover-title, .ant-popover-inner-content{
        color: black;

        p{
            color: rgb(250, 84, 55);
            font-weight: 500;
            cursor: pointer;
            border-radius: 5px;
            text-align: center;
            width: 100%;
            transition: all 0.2s ease;

            &:hover{
                background-color: #d6d6d6;
            }
        }
    }
}
